html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	height: 100%;
	line-height: 1;
	scroll-behavior: smooth;
}

a {
	color: #E5E7EB;
}

ul {
	display: flex;
	gap: 15px;
}

li {
	list-style: none;
	font-size: 24px;
}

header {
	background-color: #1F2937;
	height: 500px;

}

#second__container {
	background-color: #d1d1d4;
	display: flex;
	align-items: center;
	justify-content: center;
}


.header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;
}

.header__logo {
	font-size: 24px;
	color: #f9faf8;
	font-weight: 800;
	margin-left: 30px;
}

.header__menu {
	margin-right: 30px;
}

.header-info {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.header-info__welcome {
	width: 355px;
	height: 225px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-info__image {
	color: white;
	background-color: #b9b9b9;
	width: 355px;
	height: 225px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-info__title {
	font-weight: bolder;
	color: #f9faf8;
	font-size: 48px;
}

.header-info__text {
	font-size: 18px;
	color: #E5E7EB;
}

.header-info__button {
	font-size: 16px;
	font-weight: bold;
	color: white;
	border-radius: 6px;
	padding: 6px 22px;
	background-color: #3882f6;
	border-color: #3882f6;
	border-width: 0;
}

.container {
	height: 450px;
}

.container__title {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

.container__cards {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.card {
	width: 125px;
	height: 200px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card__illustration {
	border: thick solid #32a1ce;
	padding: 50px 20px;
	border-width: 2px;
	border-radius: 5px;
}

.quote {
	height: 230px;
	width: 675px;
}

.quote__text {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #1f2937;
	font-size: 36px;
}

.quote__author {
	color: black;
	font-size: 20px;
	font-weight: 600;
	display: flex;
	flex-direction: row-reverse;
}

#third__container {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}



.content__rectanlge {
	width: 800px;
	height: 100px;
	background-color: #3882f6;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
}

.left-header {
	font-size: 24px;
	font-weight: bold;
}

.left-text {
	color: #e2e2e2;
	font-size: 18px;
}

.signup__button {
	background-color: #3882f6;
	color: white;
	border: 2px solid rgb(196, 196, 196);
	border-radius: 7px;
	padding: 4px 20px;
}

.footer {
	height: 100px;
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__text {
	color: #b9b9b9;
	font-size: 20px;

}